<!doctype html>
<html lang="en">

<!-- #D000FF -->
<!-- #FF50F3 -->
<!-- #A9009E -->

<head>
    <title>Seller Orders</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <style>
        body {
            background-color: rgb(228, 228, 228);
            color: #A9009E;
        }

        .form-control:focus {
            border-color: #D000FF;
            /* Change this color to your desired focus color */
            box-shadow: 0 0 5px #D000FF;
            /* Optional: Add a box shadow for focus effect */
        }

        .offcanvas-body ul li {
            list-style: none;
            margin-bottom: 3vw;
        }

        .offcanvas-body ul li a {
            text-decoration: none;
            color: #A9009E;
            font-size: 1.5rem;
        }

        .footer-divs div ul {
            list-style: none;
            text-align: left;
            padding: 0px;
        }

        .footer-divs div ul li {

            margin: 2vw 0vw;

        }

        .footer-divs div ul li a {
            text-decoration: none;
            color: #A9009E;
            font-size: 1.2rem;


        }

       
        
    </style>
</head>

<body>
    <header>
        <!-- As a link -->
        <nav class="navbar navbar-light bg-light" style=" border: 2px solid #D000FF; height: 20vh; border-radius: 0% 0% 2vw 2vw; -webkit-box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);
        -moz-box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);
        box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);"><figcaption></figcaption>
            <div class="container-fluid" style="padding-left: 4vw; padding-right: 4vw;">
                <div class="row" style=" width: 100%;"> 

                    <div class="col-2">
                        <img src="/images/Screenshot_2023-08-30_at_11.50.49_AM-removebg.png" width="120px" alt="">
                    </div>

                    <div class=" col-2 col-md-5 col-sm-5 col-lg-7">

                    </div>
                    <div
                        class=" col-8 col-md-5 col-sm-5 col-lg-3 order-last d-flex align-items-center justify-content-around">
                        <select class="form-control" style="width: 50%; border: 1px solid #A9009E; color: #A9009E;">

                            <option value="">My Account</option>
                            <option value="">xz</option>
                            <option value="">xz</option>
                            <option value="">xz</option>
                        </select>
                        <a href="#####"><img src="/images/ShppingBagicon.png" width="30px" alt=""></a>
                        <img src="images/more.png" width="30px" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" alt="">
                    </div>

                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
            style="border-radius: 1vw 0px 0px 1vw; border:2px solid #D000FF  ">
            <div class="offcanvas-header">
                <!-- <h5 id="offcanvasRightLabel">Offcanvas right</h5> -->
                <img src="images/Screenshot_2023-08-30_at_11.50.49_AM-removebg.png" width="120px" alt="">
                <h3 style="word-spacing: 10px; letter-spacing: 3px;">Pro Parts</h3>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                
                <ul>
                    <li><a href="###">Home</a></li>
                    <li><a href="###">Profile</a></li>
                    <li><a href="###">Continue Shopping</a></li>
                    <li><a href="###">Cart</a></li>
                    <li><a href="###">My Orders</a></li>
                    <li><a href="###">Log out</a></li>
                </ul>
            </div>
        </div>
    </header>


    <main>

        <div class="container" style=" border: 2px solid #D000FF; margin-top: 100px; margin-bottom: 100px; padding: 0.5vw; background-color: white; border-radius: 2vw;  -webkit-box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);
        -moz-box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);
        box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);" >
        <h1 style="margin: 2vw 0vw 0vw 2vw " >All Orders</h1>
            <div style="width: 100%; margin-top:30px; margin-bottom: 100px;">
                <table class="table   table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">SNo.</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Product Qty.</th>
                        <th scope="col">Order Date.</th>
                        <th scope="col">Order Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                         <td>@mdo</td>
                          <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                         <td>@mdo</td>
                          <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                         <td>@mdo</td>
                          <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
                
            </div>
        </div>






    </main>






    <footer style="border: 2px solid #D000FF; -webkit-box-shadow: -2px -1px 9px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: -2px -1px 9px 6px rgba(0,0,0,0.23);
    box-shadow: -2px -1px 9px 6px rgba(0,0,0,0.23);
    ">

           <%- include('../partials/footer'); %>

    </footer>

</body>

</html>