<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <style>
        
.container-fluid {
    border-radius: 25px; 
  }

  #shadow_box{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
    margin: 3rem 3rem 0rem 3rem;
  }

  #shadow_box_3{
    border-top : none;
    margin: 0rem 3.7rem 3rem 3.7rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  #button_1{
    width: 8rem; height: 2.5rem; 
    margin-left: 2rem; 
    border-radius: 0.5rem;
    color: white;
    background-color: #a9009e;
    border: none;
  }

  #button_2{
    width: 11rem; height: 2.5rem; 
    margin-right: 2rem; 
    border-radius: 0.5rem;
    color: white;
    background-color: #a9009e;
    border: none;
    margin-top: -2rem;
  }


  /* ====================================================================================================== */

  @media screen and (max-width: 768px) {
    #button_3{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
    }
  }


  /* background-color: #A9009E;
        margin-top: 15rem;
        color: white;
        border-radius: 5px;
      } */
      .btn2{
        background-color: #A9009E;
        color: white;
        width: 25rem;
        margin-left: 1.5rem;
        border: none;
        border-radius: 5px;
        width: 250px;
        margin-bottom: 10px;
      }
      .modal-title{
        color:#A9009E ;
        margin-left: 1.5rem;
      }
      
      /* Style for the label container */
      .radio-label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: bold;
        }

        /* Style for the text */
        .radio-label-text {
            flex: 1; /* Takes up remaining space */
        }

        /* Style for the radio button */
        .radio-input {
            margin-left: 10px;
        }

        .form-check{
          box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);
          width: 250px;
          margin-left: 1.5rem;
          border-radius: 5px;
          margin-bottom: 30px;
        }
        input[type="radio"]:checked {
            background-color: #A9009E; /* Change the dot color when selected */
        }
        input[type="radio"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #A9009E; /* Change the border color */
            border-radius: 50%; /* Make it a circle */
            outline: none;
            cursor: pointer;
        }
       .modal-dialog{
            max-width: 300px; /* Adjust the width as needed */
            border-radius: 10px;
            border: none;
            margin: auto;
        }
        .title{
          font-size: 12px;
          color:#A9009E ;
        margin-left: 1.5rem;
        }
       
        #img_1{
          height: 2rem;
          width: 2rem;
          margin-top: 0.5rem;
          margin-right: 1.5rem;
        }
    </style>

    <style>
     .form-control:focus {
        border-color: #D000FF;
        /* Change this color to your desired focus color */
        box-shadow: 0 0 5px #D000FF;
        /* Optional: Add a box shadow for focus effect */
    }

    .form-select:focus {
        border-color: #D000FF;
        /* Change this color to your desired focus color */
        box-shadow: 0 0 5px #D000FF;
        /* Optional: Add a box shadow for focus effect */
    }

    .offcanvas-body ul li {
        list-style: none;
        margin-bottom: 3vw;
    }

    .offcanvas-body ul li a {
        text-decoration: none;
        color: #A9009E;
        font-size: 1.5rem;
    }

    .footer-divs div ul {
        list-style: none;
        text-align: left;
        padding: 0px;
    }

    .footer-divs div ul li {

        margin: 2vw 0vw;

    }

    .footer-divs div ul li a {
        text-decoration: none;
        color: #A9009E;
        font-size: 1.2rem;
    }

    form div label {
        margin-right: 5vw;
    }

    form div {
        margin: 2vw;
        font-size: 1.2rem;
    }

    .input-Fields {
        width: 90%;
        border: 1px solid #D000FF;

    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-item {
        text-align: center;
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
    }

    @media screen and (max-width: 768px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }

    .custom-select {
        width: 100%;
    }

    .uplodImg {
        border: 1px solid #D000FF;
        border-radius: 10px;
    }
</style>
</head>

<body>
    <header>
        <!-- As a link -->
        <%- include('../partials/customernav'); %>
       
    </header>
    <div class="container-fluid">
        <div class="shadow p-3 bg-body" id="shadow_box">
            <h1 style="color: #a9009e">Review</h1>

            <div class="container-fluid mt-5">
                <div class="row gy-3 my-3">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card-body">
                            <img src="/images/engine-3.png" class="card-img-top" alt="..." />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h4 class="card-text" style=" margin-left: 2rem; font-weight: 600;">
                            part_name
                        </h4>
                        <p style="margin: 2rem; text-align: justify">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Sunt iusto
                            minima nostrum commodi vel saepe quibusdam architecto delectus ullam debitis?Lorem ipsum
                            dolor sit, amet consectetur adipisicing elit. Dignissimos, molestias.</p>
                        <div>
                            <p style=" margin-left: 2rem; font-weight: 600;">
                                Brand&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sold By</p>
                            <p style=" margin-left: 2rem; font-weight: 600;">
                                Bosch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABC_co</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="card-text" style=" margin-left: 2rem; font-weight: 600;">
                            2 X $400
                        </h5>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="card-text" style="margin-left: 2rem; font-weight: 600;">
                            $800
                        </h5>
                    </div>
                </div>
            </div>
            <hr>

            <div class="container-fluid mt-5">
                <div class="row gy-3 my-3">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card-body">
                            <img src="/images/engine-2.png" class="card-img-top" alt="..." />
                        </div>

                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h4 class="card-text" style=" margin-left: 2rem; font-weight: 600;">
                            part_name
                        </h4>
                        <p style="margin: 2rem; text-align: justify">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Sunt iusto
                            minima nostrum commodi vel saepe quibusdam architecto delectus ullam debitis?Lorem ipsum
                            dolor sit, amet consectetur adipisicing elit. Dignissimos, molestias.</p>
                        <div>
                            <p style=" margin-left: 2rem; font-weight: 600;">
                                Brand&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sold By</p>
                            <p style=" margin-left: 2rem; font-weight: 600;">
                                Bosch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABC_co</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="card-text" style=" margin-left: 2rem; font-weight: 600;">
                            2 X $400
                        </h5>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="card-text" style="margin-left: 2rem; font-weight: 600;">
                            $800
                        </h5>
                    </div>
                </div>
            </div>
            <hr>

            <div class="container-fluid mt-5">
                <div class="row gy-3 my-3">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card-body">
                            <img src="/images/engine-1.png" class="card-img-top" alt="..." />
                        </div>

                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h4 class="card-text" style=" margin-left: 2rem; font-weight: 600;">
                            part_name
                        </h4>
                        <p style="margin: 2rem; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Sunt iusto
                            minima nostrum commodi vel saepe quibusdam architecto delectus ullam debitis?Lorem ipsum
                            dolor sit, amet consectetur adipisicing elit. Dignissimos, molestias.</p>
                        <div>
                            <p style=" margin-left: 2rem; font-weight: 600;">
                                Brand&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sold By</p>
                            <p style=" margin-left: 2rem; font-weight: 600;">
                                Bosch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABC_co</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="card-text" style=" margin-left: 2rem; font-weight: 600;">
                            2 X $400
                        </h5>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5 class="card-text" style="margin-left: 2rem; font-weight: 600;">
                            $800
                        </h5>
                    </div>
                </div>
            </div>
            <hr>

            <div align="right" style="margin-right: 2rem; color: #a9009e;">
                <h6>Delivery Charges : &nbsp;&nbsp;<span>$200</span></h6>
                <h6>Package total :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>$1600</span></h6>
                <h6>Discount
                    :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>$0</span>
                </h6>
                <h6>Grand Total :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>$200</span></h6>
            </div><br>

            <div class="container">
                <div class="row">
                <div class="col col-lg-6 col-sm-12">  
                <button id="button_1" style="text-align: center;">
                    < Back</button>
                </div>
                <div class="col col-lg-6 col-sm-12">
                        <div align="right" id="button_3" style="text-align: center;">
                            <button id="button_2"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Continue & Pay  > </button>
                        </div>
                </div>
                    </div>
            </div>
        </div>
    </div>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div  class="modal-dialog" style="align-content: center; " >
            
            <div class="modal-content" >
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Pay</h5><br>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <h6 class="title" id="staticBackdropLabel">Mobile Number:-</h6>
                <h6 class="title" id="staticBackdropLabel">Amount to be paid:-</h6><br>
                <div class="form-check">
                  
                <div class="radio-label">
                  <img src="/images/pay.png" id="img_1" alt="">
                    <span class="radio-label-text" >Paytm</span>
                    <input type="radio" class="radio-input" style="margin-right: 20px; " name="example" value="option1" >
                </div>
                  
                </div>
                <div class="form-check" >
                  <div class="radio-label">
                    <img src="/images/pay3.png" id="img_1" alt="">
                    <span class="radio-label-text" >Googlepay</span>
                    <input type="radio" class="radio-input" style="margin-right: 20px;" name="example" value="option2">
                </div>
                </div>
                <div class="form-check">
                  <div class="radio-label">
                    <img src="/images/pay2.png" id="img_1" alt="">
                    <span class="radio-label-text">Amazonpay</span>
                    <input type="radio" class="radio-input" style="margin-right: 20px;" name="example" value="option2">
                </div>
                </div>
                <button type="button" class="btn2" data-bs-dismiss="modal">Cancle</button>
                <button type="button" class="btn2">Pay</button>
              
            </div>
          </div>
        </div>
        <footer style="border: 2px solid #D000FF; -webkit-box-shadow: -2px -1px 9px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: -2px -1px 9px 6px rgba(0,0,0,0.23);
        box-shadow: -2px -1px 9px 6px rgba(0,0,0,0.23);
        ">
          <%- include('../partials/footer'); %>
    
        </footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>