<!doctype html>
<html lang="en">

<head>
    <title>User Orders</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Poppins:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body style="background-color: #590202;">
     <%- include('../partials/customernav'); %>



    <main>
        <div class="container bg-white p-2">

            <div class=" ms-1 mt-2 p-0   d-flex align-items-center">
                <h1 class="ms-4">User Orders</h1>
            </div>

            <div id="scrollable-div">


                <div class="container w-100 ">
                    <table class="table table-danger  table-striped ">
                        <thead class="sticky-lg-top">
                            <tr>
                                <th>SNo.</th>
                                <th>Order ID</th>
                                <th>Total Products</th>
                                <th>Total Price</th>
                                <th>Order Date</th>
                                <th>Order Status</th>
                                <th>View Products</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dummy data rows -->
                            <tr>
                                <td>1</td>
                                <td>1001</td>
                                <td>5</td>
                                <td>$250.00</td>
                                <td>2023-09-01</td>
                                <td>Processing</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1002</td>
                                <td>3</td>
                                <td>$120.00</td>
                                <td>2023-09-02</td>
                                <td>Shipped</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <!-- Add more rows with dummy data -->
                            <tr>
                                <td>3</td>
                                <td>1003</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-03</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>1004</td>
                                <td>4</td>
                                <td>$180.00</td>
                                <td>2023-09-04</td>
                                <td>Processing</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td>1005</td>
                                <td>6</td>
                                <td>$300.00</td>
                                <td>2023-09-05</td>
                                <td>Shipped</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>6</td>
                                <td>1006</td>
                                <td>1</td>
                                <td>$50.00</td>
                                <td>2023-09-06</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>7</td>
                                <td>1007</td>
                                <td>3</td>
                                <td>$120.00</td>
                                <td>2023-09-07</td>
                                <td>Processing</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>8</td>
                                <td>1008</td>
                                <td>5</td>
                                <td>$250.00</td>
                                <td>2023-09-08</td>
                                <td>Shipped</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>9</td>
                                <td>1009</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-09</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>1010</td>
                                <td>4</td>
                                <td>$180.00</td>
                                <td>2023-09-10</td>
                                <td>Processing</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>11</td>
                                <td>1011</td>
                                <td>6</td>
                                <td>$300.00</td>
                                <td>2023-09-11</td>
                                <td>Shipped</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>12</td>
                                <td>1012</td>
                                <td>1</td>
                                <td>$50.00</td>
                                <td>2023-09-12</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>13</td>
                                <td>1013</td>
                                <td>3</td>
                                <td>$120.00</td>
                                <td>2023-09-13</td>
                                <td>Processing</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>14</td>
                                <td>1014</td>
                                <td>5</td>
                                <td>$250.00</td>
                                <td>2023-09-14</td>
                                <td>Shipped</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>15</td>
                                <td>1015</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-15</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <tr>
                                <td>16</td>
                                <td>1015</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-15</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>  <tr>
                                <td>17</td>
                                <td>1015</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-15</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>

                            <tr>
                                <td>18</td>
                                <td>1015</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-15</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>  <tr>
                                <td>19</td>
                                <td>1015</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-15</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>

                            <tr>
                                <td>20</td>
                                <td>1015</td>
                                <td>2</td>
                                <td>$75.00</td>
                                <td>2023-09-15</td>
                                <td>Delivered</td>
                                <td><button class="btn btn-danger" type="button">View Products</button></td>

                            </tr>
                            <!-- Add more rows with dummy data as needed -->
                        </tbody>
                    </table>
                </div>


            </div>
        </div>



    </main>
    <%- include('../partials/footer'); %>


</body>

</html>