<nav class="navbar navbar-light bg-white" style=" border: 2px solid #D000FF; height: 20vh; border-radius: 0% 0% 2vw 2vw; -webkit-box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);
        -moz-box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);
        box-shadow: 8px 11px 9px -4px rgba(0,0,0,0.42);">
    <figcaption></figcaption>
    <div class="container-fluid" style="padding-left: 4vw; padding-right: 4vw;">
        <div class="row" style=" width: 100%;">

            <div class="col-2">
                <img src="/images/Screenshot_2023-08-30_at_11.50.49_AM-removebg.png" width="120px" alt="">
            </div>

            <div class=" col-2 col-md-5 col-sm-5 col-lg-7">

            </div>
            <div class=" col-8 col-md-5 col-sm-5 col-lg-3 order-last d-flex align-items-center justify-content-around">
                <select class="form-control" style="width: 50%; border: 1px solid #A9009E; color: #A9009E;">

                    <option value="">My Account</option>
                    <option value="">xz</option>
                    <option value="">xz</option>
                    <option value="">xz</option>
                </select>
                <a href="/cart"><img src="/images/ShppingBagicon.png" width="30px" alt=""></a>
                <img src="images/more.png" width="30px" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" >
            </div>

        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
    style="border-radius: 1vw 0px 0px 1vw; border:2px solid #D000FF  ">
    <div class="offcanvas-header">
        <img src="images/Screenshot_2023-08-30_at_11.50.49_AM-removebg.png" width="120px" alt="">
        <h3 style="word-spacing: 10px; letter-spacing: 3px;">Pro Parts</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/pro">Profile</a></li>
            <li><a href="/Product">Continue Shopping</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/userorders">My Orders</a></li>
            <li><a href="/orderReview">Order review</a></li>
            <li><a href="/signin">Log out</a></li>
        </ul>
    </div>
</div>

<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Offcanvas right</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <h1>new India</h1>
    </div>
  </div> -->