<div class="container  " style="padding-left: 5vw; padding-right: 5vw;">
    <div class="row" style="width: 100%;">

        <div class="col-lg-12 d-flex align-items-center">
            <img src="/images/Screenshot_2023-08-30_at_11.50.49_AM-removebg.png" width="125px" alt="">
            <div>
                <h1 style="word-spacing: 10px; letter-spacing: 3px;">Pro Parts</h1>
                <h6 style="color: gray; font-weight: 350;letter-spacing: 2.5px;">"Driving Perfection"</h6>
            </div>
        </div>

        <div class=" col-sm-4 col-md-4   col-lg-4 d-flex  justify-content-center footer-divs">
            <div style="width: 35%;">
                <ul>
                    <li>
                        <h3 class="h3">About</h3>
                    </li>
                    <li><a href="####">About Us</a></li>
                    <li><a href="####">Contact Us</a></li>
                    <li><a href="####">FAQs</a></li>
                    <li><a href="####">FAQs</a></li>
                </ul>
            </div>
        </div>

        <div class=" col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center footer-divs">
            <div style="width: 35%;">
                <ul>
                    <li>
                        <h3 class="h3">Policy</h3>
                    </li>
                    <li><a href="####">Return Policy</a></li>
                    <li><a href="####">Privacy Policy</a></li>
                    <li><a href="####">Disclaimer</a></li>
                </ul>
            </div>
        </div>


        <div class=" col-sm-4 col-md-4 col-lg-4 d-flex  justify-content-center footer-divs">
            <div style="width: 50%;">
                <ul>
                    <li>
                        <h3 class="h3">Social Media</h3>
                    </li>
                    <li><a href="####"><img src="images/icons8-facebook-96.png" width="40px" alt="">&nbsp;&nbsp;FaceBook</a></li>
                    <li><a href="####"><img src="images/icons8-instagram-96.png" width="40px" alt="">&nbsp;&nbsp;&nbsp;Instagram</a></li>
                    <li><a href="####"><img src="images/icons8-twitter-96.png" width="40px" alt="">&nbsp;&nbsp;&nbsp;Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->