<footer class="drop-shadow bg-white p-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <img src="images/Big_logo_white.png" style="width: 100px;" alt="ProParts">
                <div class="ms-3">
                    <h1>ProParts</h1>
                    <h6>"DRIVING PERFECTION"</h6>
                </div>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-4 ">
                <h4 class="h4">ABOUT</h4>
                <a class="nav-link footer-link" href="####">About Us</a> <br>
                <a class="nav-link footer-link" href="###">Contact Us</a><br>
                <a class="nav-link footer-link" href="####">FAQs</a>
            </div>
            <div class="col-4 ">
                <h4>POLICY</h4>
                <a class="nav-link footer-link" href="####">Return Policy</a> <br>
                <a class="nav-link footer-link" href="###">Privacy Policy</a><br>
                <a class="nav-link footer-link" href="####">Disclaimer</a><br>
                <a class="nav-link footer-link" href="####">Buyer Policy</a><br>
                <a class="nav-link footer-link" href="####">Seller Policy</a>
            </div>
            <div class="col-4 ">
                <h4>SOCIAL MEDIA</h4>
                <a class="nav-link footer-link" href="####"><i class="fab fa-facebook" style="font-size: 30px;"></i>
                    &nbsp; FaceBook</a> <br>
                <a class="nav-link footer-link" href="###"><i class="fab fa-twitter" style="font-size: 30px;"></i>
                    &nbsp; Twitter</a><br>
                <a class="nav-link footer-link" href="####"><i class="fab fa-instagram" style="font-size: 30px;"></i>
                    &nbsp; Instagram</a>
            </div>
            <div class="col-12 mt-5 ">
                <h6 class="text-center">&copy; 2023 ProParts. All Rights Reserved.</h6>
            </div>
        </div>
    </div>
</footer>